<div class="card">
  <div class="card-header text-center card shadow">
  <h1>Home Page</h1>
</div>
<div class="card-body">
 
</div>
</div>
<%= link_to 'interview reminder',interview_reminders_path,class:"btn btn-outline-primary" %>

<%= link_to 'Railskart Portal',portals_path ,class: "btn btn-outline-primary" %>