<div class="card">
  <div class="card-header text-center card shadow">
  <h1>Home Page</h1>
</div>
<div class="card-body">
 
</div>
</div>

<%= link_to(portals_path , :class => "nav-link px-sm-0 px-2" ) do %>
                            <i class="fs-5 bi-speedometer2 fa fa-users"></i><span class="ms-1 d-none d-sm-inline">Railskart Portal</span> 
                            <%end%>